<!DOCTYPE html>
<html lang="en">
  <head></head>
  <body>
    {% block body %}
    {% endblock %}  

    <!--book mentioned "unsubscription_link", which is incorrect-->
    Click <a href="{{ unsubscribe_link }}">here</a> to unsubscribe from this
    mailing list.  
    Sent with Mail Ape
  </body>
</html>