{% extends "base.html" %}

{% load crispy_forms_tags %}

{% load markdownify %}

{% block title %}
  Send a message to {{ mailing_list }}
{% endblock %}

{% block body %}
  <h1>Send a message to {{ mailing_list.name }}</h1>
  {% if message %}
    <div class="card">
      <div class="card-header">
        Message Preview
      </div>
      <div class="card-body">
        <h5 class="card-title">{{ message.subject }}</h5>
        <div>{{ message.body|markdownify }}</div>
      </div>
    </div>
  {% endif %}
  <form method="post" class="col-sm-12 col-md-9">
    {% csrf_token %}
    {{ form | crispy }}
    <button type="submit" name="action"
            value="{{ SAVE_ACTION }}"
            class="btn btn-primary">Save
    </button>
    <button type="submit" name="action"
            value="{{ PREVIEW_ACTION }}"
            class="btn btn-primary">Preview
    </button>

  </form>
{% endblock %}
