{% extends "base.html" %}

{% load markdownify %}

{% block title %}
  {{ message.subject }}
{% endblock %}

{% block body %}
  <h1>{{ message.subject }}</h1>
  <div>
    {{ message.body|markdownify }}
  </div>
{% endblock %}